Select  
body {
    background-color: rgb(240, 231, 231);
    color: rgb(249, 242, 219);
  }
  .banner {
    position: relative;
  }
  .banner img {
    width: 100%;
    height: auto;
    position: relative;
  
  }
  .img-cont {
    text-align: center;
    
  }
  .img-cont img {
    width: 200%;
    height: auto;
  }
  .banner-text {
    font-family: "Century Gothic", "Arial";
    position: absolute;
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align:center;
    z-index: 1;
    
  }
  .banner-text h1 {
    font-size: 4vw;
    color: rgb(255, 255, 255); 
    font-family: "Modak", "Modak";
    font-weight: bolder;
    
  }

  .banner-text p {
      color: rgb(255, 255, 255); 
  }
  
  .copyright {
    position: absolute;
    font-size: 1vw;
    top: 94%;
    left: 3%;
  }
  .AboutMe-Section img {
  width: 25vw;
  height: auto;
}
.button {
  background-color: rgb(16, 0, 158);
  border: none;
  color: rgb(214, 213, 220);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2vw;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.8s ease;
}
.button:hover {
  background-color: black;
  color:rgb(16, 0, 158);
}
#tableau1 {
  font-family: "Century Gothic", "Arial";
  position: relative;
  left: 8%;
  font-size: 1.4vw;
  width: 85%;
}
#tableau1 td {
  padding: 1em;
  text-align: justify;
}
#tableau2 {
  font-family: "Century Gothic", "Arial";
  position: relative;
  font-size: 1.2vw;
  width: 100%;
}
#tableau2 td {
  padding: 1em;
  text-align: justify;
  width: 33.33%;
  border-bottom: 1px solid rgb(209, 201, 174);
}
#tableau2 caption {
  font-weight : bold;
  font-size: 3vw;
  text-align: center;
}
#tableau2 img {
max-width: 100%;
height: auto;
}
#tableau3 {
font-family: "Century Gothic", "Arial";
  position: relative;
  font-size: 1.2vw;
  width: 100%;
}
#tableau3 td {
  padding: 1em;
  text-align: justify;
  width: 25%;
  border-bottom: 1px solid rgb(209,201,174);
}
#tableau3 img {
max-width: 100%;
height: auto;

}
#tableau4 {
width: 100%;
font-size: 1.2vw;
text-align: center;
color: rgb(255, 255, 255);
  background-color: rgb(13, 0, 128);
} 